// globals
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&display=swap');
$black: #222222;
$gray: #b2b2b2;
$white: #fafafa;

$sharp: 0.125rem;
$rounded: 0.25rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  position: relative;
  font-family: 'Comfortaa', sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  color: $black;
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

header {
  overflow-x: hidden;

  a,
  a:visited {
    text-decoration: none;
    color: $black;
  }

  h1 {
    position: relative;
    display: inline-block;
    margin-left: 9vw;
    padding-top: 1rem;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 600;

    span img {
      width: 2rem;
      height: 2rem;
    }
    &::before,
    &::after {
      pointer-events: none;
    }
    &::before {
      content: '';
      position: absolute;
      background-color: #82a1fb;
      width: 20vw;
      height: 50%;
      top: 50%;
      right: calc(100% + 1rem);
      transform: translateY(-50%);
      border-radius: 0 3.125rem 3.125rem 0;
    }
    &::after {
      content: '';
      position: absolute;
      background-color: #82a1fb;
      top: 50%;
      left: calc(100% + 1rem);
      transform: translateY(-50%);
      width: 100vw;
      height: 50%;
      border-radius: 3.125rem 0 0 3.125rem;
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 2rem;
}

.active {
  background-color: #e0e0e0;
}

// user settings
.user-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(80vh + 0.0625rem);
  border: 0.0625rem solid $gray;
  border-radius: $rounded;
  border-right: none;
  cursor: default;

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 95%;
    margin: 0 0.5rem;
  }
}

.user-button {
  margin-bottom: 0.5rem;
}

.user-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.625rem;
  height: 1.625rem;
  border: 0.0625rem solid $gray;
  border-radius: $rounded;

  &:hover {
    cursor: pointer;

    &::after {
      opacity: 1;
    }
  }

  &::after {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: calc(100% + 1rem);
    width: inherit;
    height: inherit;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
  }

  &.pen-button::after {
    content: 'pen';
  }
  &.eraser-button::after {
    content: 'eraser';
  }
  &.brush-size-button::after {
    content: 'brush size';
  }
  &#brush-color::after {
    content: 'brush color';
    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
  }
  &.stencil-button::after {
    content: 'coloring page';
  }
  &.pattern-button {
    &::after {
      content: 'brush pattern';
    }
  }
  &.reset-button {
    &::after {
      content: 'delete all';
    }
  }

  &.brush-size-button,
  &#brush-color,
  &.pattern-button,
  &.stencil-button {
    &.active {
      &::after {
        opacity: 0;
      }
    }
  }
}

.brush-size-div {
  position: relative;
}

.pen-button,
.brush-size-button,
.eraser-button,
.stencil-button,
.reset-button {
  svg {
    pointer-events: none;
  }
}

.brush-size-menu {
  position: absolute;
  top: 50%;
  left: calc(100% + 1rem);
  transform: translateY(-50%);
  display: none;
  justify-content: center;
  padding: 0 1rem 1rem;
  border: 0.0625rem solid $gray;
  border-radius: $rounded;
  background-color: $white;
  pointer-events: none;

  &.open {
    display: flex;
    pointer-events: all;
  }

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    font-size: 0.875rem;
  }

  &::before {
    content: '1px';
    left: 0.5rem;
  }

  &::after {
    content: '100px';
    right: 0.5rem;
  }
}

#brush-size {
  right: 0;
  width: 6.25rem;
  height: 1.625rem;
  margin: 0;
  cursor: pointer;
}
.stencil-div,
.pattern-div {
  position: relative;
}

.stencil-menu,
.pattern-menu {
  position: absolute;
  top: 0;
  left: calc(100% + 1rem);
  display: none;
  pointer-events: none;

  &.open {
    display: flex;
    pointer-events: all;
  }
}

#stencil-select,
#pattern-select {
  width: auto;
  height: 1.625rem;
  border: 0.0625rem solid $gray;
  border-radius: $rounded;
}

#pattern-star {
  pointer-events: none;
}

.pattern-icons {
  display: none;
  position: absolute;
  pointer-events: none;
  top: -100%;
}

// canvas settings
.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
}

#cursor {
  position: absolute;
  content: '';
  border: 0.0625rem solid $black;
  border-radius: 50%;
  pointer-events: none;
}

#canvas {
  border: 0.0625rem solid $gray;
  border-radius: $sharp $rounded $rounded $sharp;
  background-color: #ffffff;
  background-image: none;
  background-repeat: no-repeat;
}
